.main-footer {
  padding: 150px 0;
}
.main-footer h1 {
  font-size: 1.3rem;
  font-weight: 600;
  padding-bottom: 0.1rem;
  color: rgb(6, 156, 84);
}
.main-footer p {
  padding: 0.0001rem 0;
  font-size: 0.8rem;
}
.list ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  padding-left: 4.56rem;
}
.list li:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: 0.3s;
}
.footer-lines {
  padding: 0.2rem 4.5rem;
}
.list-in ul {
  display: flex;
  gap: 2rem;
}
