.main-offer {
  border: 5 solid black;
  font-size: 20px;
  padding: 150px 0px;
}
.main-offer > div {
  text-align: center;
  justify-content: center;
}
.offer h1 {
  font-weight: 400;
  padding: 10px;
}
.offer h3 {
  font-size: 1.5rem;
  color: rgb(6, 156, 84);
}
.services {
  gap: 40px;
  display: flex;
  text-align: center;
  font-size: 1rem;
}
.h1 {
  font-weight: 600;
  font-size: 1.2rem;
  padding: 5px;
}
.main-dishes {
  text-align: left;
}
.title {
  font-size: 20px;
  font-weight: 500;
}
